body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #505050;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
    font-size: 5.5em;
    color: #000000;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 100px;
}

.game-option {
    text-align: center;
    width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-option img {
    width: 100%;
    border-radius: 10px;
}

.game-option p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #333;
}

.game-option:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
